body
{
    background-color: #3d3b3b;
    border: 1px solid #ccc;
    border-radius: 5px;

}
form
{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(1, 1fr);
    grid-gap: 10px;
    background-color: #8a8a8a;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
input[type="email"], input[type="text"], input[type="password"]
{
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit
{
    grid-column: 1 / span 2;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputBoxesToRed
{
    border: 1px solid red;
    background-color: rgb(255, 4, 4);
    color: white;
}

.convertToRedBtn
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    grid-column: 1 / span 2;
}
.txtArea
{
  max-width: 1fr;
}
.grid1-2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    max-width: 80%;
    justify-self: center;
    align-self: center;
    align-items: center;
    text-align: center;
padding: 10px;
margin: 10px;
}
